<mat-toolbar color="primary">
    User Database
    <span class="app-toolbar-filler"></span>
    <button mat-button (click)="create()">New</button>
</mat-toolbar>
<br>
<div class="app-content">
    <div>
        <input matInput placeholder="Search" (keyup.enter)="search($event)">
    </div>
    <table style="width: 100%; margin-top: 10px; border-collapse: collapse">
        <thead style="text-align: left">
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" style="border-top: 1px solid black">
                <td>{{ user.Username }}</td>
                <td>{{ user.Email }}</td>
            </tr>
        </tbody>
    </table>
</div>